@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

:root {
    --title-color: #1E2D78;
    --para-color: #8A8A8A;
    --button-color: #2e3192;
    --percent-color: #F4572E;
    --header-color: #DD3333;
    --max-width: 1200px;
    --card--color: #656565;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1rem;
}

.section__header {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--header-color);
    text-transform: uppercase;
}

.section__title {
    display: block;
    font-size: 1.2rem;
    color: var(--title-color);
}

.section__para {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    color: var(--para-color);
}

a {
    text-decoration: none;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

nav .toggle__btn {
    color: blueviolet;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action__btn {
    background-color: var(--button-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action__btn:hover {
    scale: 1.05;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.action__btn:active {
    scale: 0.95;
}

.dropdown__menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown__menu.open {
    height: 240px;
}

.dropdown__menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown__menu .action__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown__menu {
    max-width: var(--max-width);
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;

}

.dropdown__menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}


.logo {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.all {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--header-color);
}

.smiles {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--title-color);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__links__right {
    list-style: none;
    display: flex;
    align-items: center;
}

.link a {
    font-weight: 500;
    color: var(--title-color);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0;
}

.link .reg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 5px;
    background: var(--button-color);
    width: 150px;
    height: 100%;
    border: 2px solid var(--button-color);
}

/* HEADER SECTION */
.header__container {
    margin: auto;
    min-height: 500px;
    background-image: linear-gradient(to right,
            rgba(209, 218, 239, 0.9),
            rgba(226, 236, 238, 0.1)),
        url(/assets/image/unsplash__new.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}


.makered {
    text-align: center;
    font-weight: bold;
}


.header__text {
    max-width: 600px;
    padding: 6rem 4rem;
}

.header__text h4 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-size: 13px;
    border-radius: 5px;
    background: #F4572E;
    color: #ffffff;
    font-weight: 500;
    width: 168px;
    height: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    padding: 5px 5px 5px 5px;

}

.header__text h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--title-color);
    text-transform: capitalize;
}

.header__text .btn__body {
    display: flex;
    gap: 0.5rem;
    width: 260px;
    height: 50px;
    margin-top: 2rem;
}


.btn__body .btn1 {
    text-transform: capitalize;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 5px;
    background: var(--button-color);
    width: 280px;
    height: 100%;
    border: 2px solid #fff;
}

.btn__body .btn1:hover {
    cursor: pointer;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


/* .btn__body .btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--button-color);
    font-size: 1.2rem;
    border-radius: 5px;
    background: #ffffff;
    width: 150px;
    height: 100%;
    border: 2px solid #ffffff;
} */

/* SERVICE STYLE */


.services {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
    text-transform: capitalize;
}


.render__grid {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.render {
    width: 250px;
    background-color: var(--container-color);
    padding: .5rem .5rem 1.5rem;
    border: 2px solid powderblue;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    margin: 0 auto;
    transition: .4s;
}

.render:hover {
    background: rgb(44, 231, 229);
    background: linear-gradient(35deg,
            rgba(44, 231, 229, 1) 46%,
            rgba(238, 250, 249, 0.7483368347338936) 60%,
            rgba(60, 238, 110, 1) 74%);
    cursor: pointer;
}

.render .center {
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
}

.center img {
    width: 70px;
}

.render h2 {
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}

.render p {
    text-align: center;
    color: var(--para-color);
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize
}



/* VIDEO SECTION */

.vid__container {
    margin-top: 2rem;
    background: rgb(227, 233, 233);
}

.vid__grid {
    display: flex;


}

.vid__grid .vid__text {
    padding: 10px 20px;
    text-align: center;
}

.vid__text h3 {
    text-transform: uppercase;
    color: var(--header-color);
    font-size: 16px;
    font-weight: 500;
}

.vid__text h2 {
    text-transform: capitalize;
    color: var(--title-color);
    line-height: 30px;
    font-weight: 500;
    margin-top: 12px;
}

.vid__text .vid__img {
    margin-top: 1.5rem;
}

.vid__signa img {
    width: 100%;
}

/* 
TESTIMONY SECTION */

.testimony__container {
    margin-top: 1.2rem;
    background-color: #e4f7f6;
    border-radius: 2rem;
}

.header__testimony {
    margin-top: 4rem;
}

.test__mony {
    font-size: 1.2rem;
    color: var(--header-color);
    text-transform: uppercase;
    text-align: center;

}

.test__body {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: var(--title-color);
    text-transform: capitalize;
}

.test__para {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--para-color);
    text-transform: capitalize;
}

.test__grid {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.test__card {
    width: 350px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(3, 124, 155, 0.1);
    gap: 2.2rem;
}

.test__card:hover {
    box-shadow: 5px 5px 20px rgba(5, 167, 140, 0.1);
    cursor: pointer;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.test__card h3 {
    margin-top: 10px;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}

.test__card p {
    color: var(--para-color);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

.test__card h4 {
    margin-top: 10px;
    color: var(--header-color);
    text-align: center;
    text-transform: uppercase;
}

/* DISCOUNT SECTION */

.discount__container {
    margin-top: 5px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(70, 95, 236) 0%, rgb(0, 38, 163) 90%);
}

.discount__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.discount__text {
    margin-top: 10px;
    padding: 5px 10px;
}

.dis__text {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

.dis__para {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.dis {
    color: var(--percent-color);
}

.discount__plan {
    margin-top: 10px;
    padding: 5px 10px;
}

.discount__plan a {
    display: flex;
    padding: 16px 51.203px 16px 49px;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
    text-transform: capitalize;
    font-size: 19px;
    transition: .3s;
}

.discount__plan a:hover {
    color: #fff;
    background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
}

/* EXPERT SECTION */

.expert__container {
    margin-top: 5px;
}

.header__expert {
    padding: 10px;
    margin-top: 1.2rem;
    text-align: center;
}

.our__experts {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var;
}

.experts__body {
    font-size: 16px;
    color: var(--title-color);
    text-transform: capitalize;
}

.experts__para {
    color: var(--para-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.expert__grid {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.expert__card {
    justify-content: center;
    width: 270px;
    border-radius: 2px;
}

.mid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.expert__name {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.expert__role {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
}

/* APPOINTMENT SECTION */

.appointment__container {
    margin-top: 10px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(70, 95, 236) 0%, rgb(0, 38, 163) 90%);

}

.appointment {
    display: flex;
    justify-content: center;

}


.appointment img {
    max-width: 600px;
    width: 100%;
    padding: 5px 15px;

}

.form {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.form__text {
    margin-top: 2rem;
    /* padding: 5px 12px; */
}

.form__text h4 {
    position: relative;
    color: var(--title-color);
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
}

.form__text h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}


.form__text p {
    color: var(--para-color);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .button {
    height: 45px;
    margin: 45px 0;
}


form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

form .button input:hover {
    cursor: pointer;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* BLOG SECTION */

.blog__container {
    margin-top: 5px;
    /* background-color: #21fdf2;
    background-image: linear-gradient(19deg, #21D4FD 0%, #21d3ff 100%); */

}

.header__blog {
    text-align: center;
    padding: 5px 15px;
}

.our__blog {
    color: var(--header-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.blog__body {
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

.blog__para {
    color: var(--para-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

.blog__grid {

    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.blog__card {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 350px;
    /* margin: 0 auto; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: rem;

}

.blog__card:hover {
    box-shadow: 5px 5px 20px rgba(5, 167, 140, 0.1);
    cursor: pointer;
}


.midd {

    width: 100%;
    height: 200px;
    object-fit: cover;

}

.date {
    padding: 5px 15px;
    color: var(--para-color);
    font-weight: 400;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
    text-align: left;

}

.blog__head {
    padding: 5px 15px;
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.blg__para {
    padding: 5px 15px;
    margin-top: 3px;
    color: var(--para-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.read__blog {
    padding: 5px 15px;
    text-transform: capitalize;
    margin-top: 5px;
    display: flex;
    width: 250px;
    padding-right: 0px;
    align-items: center;
    gap: 9.8px;

}

.read__blog a {

    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

/* TRUST SECTION */

.trust__container {
    background-color: #ffffff;
}


.trust__grid {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.img__trst img {
    width: 90%;
    cursor: pointer;
    opacity: .2;
    transition: .3s;
}

.img__trst img:hover {
    opacity: .6;
}

/* FOOTER */
.footer {
    background-color: #0442c1;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.footer__col p {
    margin-bottom: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--title-color);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffff;
    text-align: right;
    overflow: hidden;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: #fff;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 22%, 73%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(230, 80%, 41%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(227, 80%, 64%);
}


/* MEDIA QUERRY */

@media (max-width: 584px) {
    .form {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .form form .user-details {
        max-height: 300px;
    }

    .footer__container {
        gap: 2rem;
    }
}

@media (max-width: 900px) {

    .nav__links,
    .action__btn {
        display: none;
    }

    nav .toggle__btn {
        display: block;
    }

    .dropdown__menu {
        display: block;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .dropdown__menu {
        left: 2rem;
        width: unset;
    }
}